<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <title>Kristen Wilde</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/portfolio.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
  <header id="home">
    <h1 id="name">Kristen Wilde</h1>
    <h1>Full-stack Web Application Engineer</h1>
  </header>
  <div id="portrait">
    <img src="/images/kristen2018.jpg" alt="Headshot"/>
  </div>

  <div id="skills">
    <h2>Skills include:</h2>
    <ul>
      <li>JavaScript</li>
      <li>Vue.js</li>
      <li>jQuery</li>
      <li>Node/Express.js</li>
      <li>Handlebars, EJS</li>
    </ul>
    <ul>
      <li>Ruby</li>
      <li>Ruby on Rails</li>
      <li>Sinatra</li>
      <li>ERB, yaml</li>
      <li>PosgtreSQL</li>
    </ul>
    <ul>
      <li>Regular Expressions</li>
      <li>HTML</li>
      <li>CSS, Sass</li>
      <li>Bootstrap</li>
      <li>Photoshop</li>
    </ul>
  </div>
  <section id="portfolio">
    <h2>Sample work:</h2>
    <div>
    <% projects.forEach(function(project) { %>
      <div class="project">
        <h3><%= project.title %></h3>
        <h4><%= project.tech %></h4>
        <a href="<%= project.img_url %>">
          <img src="/images/<%= project.img %>" alt="screenshot"/>
        </a>
        <p><%= project.description %></p>
        <ul>
          <% project.links.forEach(function(link) { %>
          <li><a href="<%= link.url %>"><%= link.name %></a></li>
          <% }); %>
        </ul>
      </div>
    <% }); %>
    </div>
  </section>
  <section id="about">
    <h2>About Me:</h2>
    <p>I'm excited to begin a new career in a field where I'll always be learning and growing!</p>
    <p>After several years of making websites as a hobby, I enrolled at <a href="http://launchschool.com">LaunchSchool.com</a>, a remote learning program which emphasizes mastery-based learning and fundamentals. Besides scheduling concerns, I chose this program because I wanted to really understand what was going on in my code. I completed Launch School's core curriculum in 18 months and appreciated the chance to dig into details such as variable scopes, closures, regular expressions, object creation patterns, "this", and more.</p>
    <p>Since then, I've explored several frameworks including Ruby on Rails, Vue.js, and Express.js. I'm excited to continue learning about these tools and/or others, and I'm eager to work together with other developers on a great project.</p>
  </section>
  <section id="contact">
    <h2>Contact me:</h2>
    <p><a href="mailto:kristen.wilde@gmail.com">Email me at kristen.wilde@gmail.com</a>
    </p>
    <p><a href="https://www.linkedin.com/in/kristen-wilde-20664b5/">Connect on LinkedIn</a></p>
    <p><a href="https://github.com/KristenWilde">Visit my Github</a></p>
    <p><a href="#contact" onclick="alert('Link coming soon')">Follow me on Twitter</a></p>
    <p><a href="#contact" onclick="alert('Link coming soon')">See some blog posts</a></p>
  </section>
</body>
</html>
