<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <title>Kristen Wilde</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/portfolio.css">
</head>
<body>
  <div class="nav-background"></div>
  <nav>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="https://docs.google.com/document/d/1CE6r1uWabzITBLh1ajj98HbLRYFXmfWRklXAFQg0klo/edit?usp=sharing">Resume</a></li>
    </ul>
  </nav>
  <header id="home">
    <h1 id="name">Kristen Wilde</h1>
    <h1>Full-stack Web Application Engineer</h1>
  </header>
  <div id="portrait">
    <img src="/images/kristen2018.jpg" alt="Headshot"/>
  </div>

  <div id="skills">
    <h2>Skills include:</h2>
    <ul>
      <li>JavaScript</li>
      <li>React.js</li>
      <li>Vue.js</li>
      <li>jQuery</li>
      <li>Node/Express.js</li>
    </ul>
    <ul>
      <li>Ruby</li>
      <li>Ruby on Rails</li>
      <li>Sinatra</li>
      <li>PosgtreSQL</li>
      <li>Regular Expressions</li>
    </ul>
    <ul>
      <li>HTML</li>
      <li>CSS, Sass</li>
      <li>Bootstrap</li>
      <li>Photoshop</li>
    </ul>
  </div>
  <section id="portfolio">
    <h2>Sample work:</h2>
    <div>
    <% projects.forEach(function(project) { %>
      <div class="project">
        <header>
          <h3><%= project.title %></h3>
          <h4><%= project.tech %></h4>
        </header>
        <a href="<%= project.img_url %>">
          <img src="/images/<%= project.img %>" alt="screenshot"/>
        </a>
        <p><%= project.description %></p>
        <ul>
          <% project.links.forEach(function(link) { %>
          <li><a href="<%= link.url %>"><%= link.name %></a></li>
          <% }); %>
        </ul>
      </div>
    <% }); %>
    </div>
  </section>
  <section id="about">
    <h2>About Me:</h2>
    <h4>How did I learn to code?</h4>
    <p>I'm a self-taught developer and alumna of <a href="http://launchschool.com">LaunchSchool.com</a>, an online school for web developing. At Launch School, I put in 1500+ hours over 18 months and completed hundreds of exercises with Ruby, JavaScript, and SQL. I aced all 11 assessments, demonstrating a solid understanding of concepts such as variable scopes, closures, inheritance, regular expressions, and <span class="code">this</span>.</p>
    <p>Since then I've explored Ruby on Rails, Vue.js, Express.js, and React.js, and created my own projects with each of these frameworks. I've utilized various tutorials, read a lot of documentation, and learned from other students. I'm excited to continue learning about these tools and others, and I'm eager to put my skills to work as part of a great team.</p>
    <h4>Why programming?</h4>
    <p>I have always enjoyed the challenge of building things from scratch - where "scratch" is anything from cloth or wood to musical sounds or lines of code. My first exposure to web developing was an elective course that I took while working on my BA in music. After many years of playing with geocities and WordPress, I eventually decided to seek a full-time career in this field.</p>
    <h4>What makes me unique?</h4>
    <p>I'm a good listener and an open-minded thinker. I'm quiet by nature and good at tactful communication (thanks to my 10+ years of teaching violin). I'm passionate about quality and I'd be an asset to any team.</p>
  </section>
  <section id="contact">
    <h2>Contact me:</h2>
    <p><a href="mailto:kristen.wilde@gmail.com">Email me at kristen.wilde@gmail.com</a>
    </p>
    <p><a href="https://www.linkedin.com/in/kristen-wilde-20664b5/" target="_blank">Connect on LinkedIn</a></p>
    <p><a href="https://github.com/KristenWilde" target="_blank">Visit my Github</a></p>
    <p><a href="https://twitter.com/anotherkristenw" target="_blank">Follow me on Twitter</a></p>
    <p><a href="https://medium.com/@kristenfletcherwilde" target="_blank">Read some blog posts</a></p>
  </section>
<script>
document.addEventListener('DOMContentLoaded', function() {
  const navButtons = [].slice.call(document.querySelectorAll('nav a'));
  navButtons.forEach(function(button) {
    const targetSelector = button.getAttribute('href');;
    button.addEventListener('click', function(e){
      e.preventDefault();
      const section = document.querySelector(targetSelector)
      section.scrollIntoView({behavior: "smooth", block: "start"})
    });
  });
});
</script>
</body>
</html>
