<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <title>Kristen Wilde</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/portfolio.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
  <header id="home">
    <h1 id="name">Kristen Wilde</h1>
    <h1>Full-stack Web Application Engineer</h1>
  </header>
  <div id="portrait">
    <img src="/images/kristen2018.jpg" alt="Headshot"/>
  </div>

  <div id="skills">
    <h2>Skills include:</h2>
    <ul>
      <li>JavaScript</li>
      <li>Vue.js</li>
      <li>jQuery</li>
      <li>Node/Express.js</li>
      <li>Handlebars, EJS</li>
    </ul>
    <ul>
      <li>Ruby</li>
      <li>Ruby on Rails</li>
      <li>Sinatra</li>
      <li>ERB, yaml</li>
      <li>PosgtreSQL</li>
    </ul>
    <ul>
      <li>Regular Expressions</li>
      <li>HTML</li>
      <li>CSS, Sass</li>
      <li>Bootstrap</li>
      <li>Photoshop</li>
    </ul>
  </div>
  <section id="portfolio">
    <h2>Sample work:</h2>
    <div>
    <% projects.forEach(function(project) { %>
      <div class="project">
        <h3><%= project.title %></h3>
        <h4><%= project.tech %></h4>
        <a href="<%= project.img_url %>">
          <img src="/images/<%= project.img %>" alt="screenshot"/>
        </a>
        <p><%= project.description %></p>
        <ul>
          <% project.links.forEach(function(link) { %>
          <li><a href="<%= link.url %>"><%= link.name %></a></li>
          <% }); %>
        </ul>
      </div>
    <% }); %>
    </div>
  </section>
  <section id="about">
    <h2>About Me:</h2>
    <p>Hello! Although I've made websites as a hobby for several years, I only recently decided to pursue a new career as a developer. I'm very excited to be in a field where I'll always be learning and growing!</p>
    <p>After trying various online courses and resources, I enrolled at <a href="http://launchschool.com">LaunchSchool.com</a>, a remote learning program which emphasizes mastery-based learning and fundamentals. I chose this program because I wanted to really understand what was going on in my code. I appreciated the chance to practice skills such as problem solving, consulting the docs, and debugging, and I gained a solid understanding of details such as variable scopes, closures, regular expressions, and "this". I was able to study about 20 hours per week while working part-time, and completed Launch School's "core curriculum" in 18 months.</p>
    <p>Since then, I've explored (and built my own projects) with several frameworks including Ruby on Rails, Vue.js, and Express.js. I'm excited to continue learning about these tools and others, and I'm eager to put my skills to work as part of a great team.</p>
  </section>
  <section id="contact">
    <h2>Contact me:</h2>
    <p><a href="mailto:kristen.wilde@gmail.com">Email me at kristen.wilde@gmail.com</a>
    </p>
    <p><a href="https://www.linkedin.com/in/kristen-wilde-20664b5/">Connect on LinkedIn</a></p>
    <p><a href="https://github.com/KristenWilde">Visit my Github</a></p>
    <p><a href="https://twitter.com/anotherkristenw">Follow me on Twitter</a></p>
    <p><a href="https://medium.com/@kristenfletcherwilde">Read some blog posts</a></p>
  </section>
</body>
</html>
