<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <title>Spy Game</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/portfolio.css">
</head>
<body>
  <main>
    <h1>Spy Game</h1>
    <h2>How many players?</h2>
    <input type="number" name="players" id="players" value="<%= game.players %>" required/>
    <h2>How many spies?</h2>
    <input type="number" name="spies" id="spies" value="<%= game.spies %>" required/>
    <h2>Locations:</h2>
    <textarea name="locations" id="locations" cols="30" rows="10"><%= game.locations %>
    </textarea>
    <a href="mailto:?body=<%= encodeURIComponent(game.locations) %>">Send by Email</a>
    <button>Start Game</button>
    <% for(var p = 0; p < game.players; p += 1) { %>
      <div>
        <span className="player-<%= p %>-show" >
          Player <%= p + 1 %>
        </span>
        <input type="checkbox" name="player-<%= p %>-hide"/>
      </div>
    <% } %>
  </main>
</body>
<script>
document.addEventListener('DOMContentLoaded', function() {

});
</script>
</html>
